@use "design-system";

.menu {
  &__container {
    @include design-system.H6;

    background: var(--color-background-default);
    box-shadow: var(--shadow-size-sm) var(--color-shadow-default);
    border-radius: 8px;
    width: 225px;
    color: var(--color-text-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1050;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1050;
  }
}
