.new-collectibles-notice {
  &__message {
    position: relative;

    &__close-button{
      background-color: transparent;
      &::after {
        position: absolute;
        content: '\00D7';
        font-size: 29px;
        font-weight: 200;
        color: $black;
        background-color: transparent;
        top: 0px;
        right: 16px;
        cursor: pointer;
      }
    }
  }
}
