# This workflow is meant to better structure the main.yaml one for readability reasons.
# It is not meant to be a reusable workflow.

name: E2E Chrome

on:
  workflow_call:
    inputs:
      builds-from-run:
        required: true
        type: string
        description: The run ID to get builds from
    secrets:
      PR_COMMENT_TOKEN:
        required: false
      INFURA_PROJECT_ID:
        required: false

jobs:
  test-e2e-chrome-browserify:
    uses: ./.github/workflows/run-e2e.yml
    secrets:
      INFURA_PROJECT_ID: ${{ secrets.INFURA_PROJECT_ID }}
    strategy:
      fail-fast: ${{ github.event_name == 'merge_group' }}
      matrix:
        index:
          [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
    with:
      test-suite-name: test-e2e-chrome-browserify
      build-artifact: build-test-browserify
      build-command: yarn build:test
      test-command: yarn test:e2e:chrome
      builds-from-run: ${{ inputs.builds-from-run }}
      matrix-index: ${{ matrix.index }}
      matrix-total: ${{ strategy.job-total }}

  test-e2e-chrome-webpack:
    uses: ./.github/workflows/run-e2e.yml
    if: ${{ github.event_name != 'merge_group' }}
    secrets:
      INFURA_PROJECT_ID: ${{ secrets.INFURA_PROJECT_ID }}
    strategy:
      fail-fast: ${{ github.event_name == 'merge_group' }}
      matrix:
        index:
          [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
    with:
      test-suite-name: test-e2e-chrome-webpack
      build-artifact: build-test-webpack
      build-command: yarn build:test:webpack
      test-command: yarn test:e2e:chrome
      builds-from-run: ${{ inputs.builds-from-run }}
      matrix-index: ${{ matrix.index }}
      matrix-total: ${{ strategy.job-total }}

  test-e2e-chrome-multiple-providers:
    uses: ./.github/workflows/run-e2e.yml
    with:
      test-suite-name: test-e2e-chrome-multiple-providers
      build-artifact: build-test-browserify
      build-command: yarn build:test
      test-command: yarn test:e2e:chrome:multi-provider
      builds-from-run: ${{ inputs.builds-from-run }}

  test-e2e-chrome-rpc:
    uses: ./.github/workflows/run-e2e.yml
    with:
      test-suite-name: test-e2e-chrome-rpc
      build-artifact: build-test-browserify
      build-command: yarn build:test
      test-command: yarn test:e2e:chrome:rpc
      builds-from-run: ${{ inputs.builds-from-run }}

  test-e2e-chrome-flask:
    uses: ./.github/workflows/run-e2e.yml
    strategy:
      fail-fast: ${{ github.event_name == 'merge_group' }}
      matrix:
        index: [0, 1, 2, 3, 4]
    with:
      test-suite-name: test-e2e-chrome-flask
      build-artifact: build-test-flask-browserify
      build-command: yarn build:test:flask
      test-command: yarn test:e2e:chrome:flask
      builds-from-run: ${{ inputs.builds-from-run }}
      matrix-index: ${{ matrix.index }}
      matrix-total: ${{ strategy.job-total }}

  test-e2e-chrome-dist:
    # This if statement is equivalent to !IS_FORK
    if: ${{ !(github.event.pull_request.head.repo.fork || github.event.repository.fork) }}
    uses: ./.github/workflows/run-e2e.yml
    with:
      test-suite-name: test-e2e-chrome-dist
      build-artifact: build-dist-browserify
      test-command: yarn test:e2e:chrome:dist
      builds-from-run: ${{ inputs.builds-from-run }}

  test-e2e-chrome-api-specs:
    uses: ./.github/workflows/run-e2e.yml
    with:
      test-suite-name: test-e2e-chrome-api-specs
      build-artifact: build-test-browserify
      build-command: yarn build:test
      test-command: yarn test:api-specs
      test-artifacts-path: html-report
      builds-from-run: ${{ inputs.builds-from-run }}

  test-e2e-chrome-api-specs-multichain:
    uses: ./.github/workflows/run-e2e.yml
    with:
      test-suite-name: test-e2e-chrome-api-specs-multichain
      build-artifact: build-test-flask-browserify
      build-command: yarn build:test:flask
      test-command: yarn test:api-specs-multichain
      test-artifacts-path: html-report-multichain
      builds-from-run: ${{ inputs.builds-from-run }}

  test-e2e-chrome-report:
    needs:
      - test-e2e-chrome-browserify
      - test-e2e-chrome-webpack
      - test-e2e-chrome-multiple-providers
      - test-e2e-chrome-rpc
      - test-e2e-chrome-flask
      - test-e2e-chrome-dist
      - test-e2e-chrome-api-specs
      - test-e2e-chrome-api-specs-multichain
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      OWNER: ${{ github.repository_owner }}
      REPOSITORY: ${{ github.event.repository.name }}
      # For a `pull_request` event, the branch is `github.head_ref`.
      # For a `push` event, the branch is `github.ref_name`.
      BRANCH: ${{ github.head_ref || github.ref_name }}
      TEST_RUNS_PATH: test/test-results/test-runs-chrome.json
    steps:
      - name: Checkout and setup environment
        uses: MetaMask/action-checkout-and-setup@v1
        with:
          is-high-risk-environment: false
          skip-allow-scripts: true
          use-yarn-hydrate: true

      - name: Download test results
        uses: actions/download-artifact@v4
        with:
          path: .
          pattern: test-e2e-chrome*
          merge-multiple: true

      - name: Create test report
        run: yarn tsx .github/scripts/create-e2e-test-report.ts

      - name: Upload test runs
        uses: actions/upload-artifact@v4
        with:
          name: test-e2e-chrome-report
          path: ${{ env.TEST_RUNS_PATH }}
