name: Identify Codeowners

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !(contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/heads/stable')) }}

jobs:
  identify-codeowners:
    # Avoid running on forks since we need to write a PR comment
    if: ${{ !(github.event.pull_request.head.repo.fork || github.event.repository.fork) }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment: pr-comment
    steps:
      - name: Checkout and setup environment
        uses: MetaMask/action-checkout-and-setup@v1
        with:
          is-high-risk-environment: false
          skip-allow-scripts: true
          use-yarn-hydrate: true

      - name: Identify codeowners
        env:
          PR_COMMENT_TOKEN: ${{ secrets.PR_COMMENT_TOKEN }}
        run: yarn tsx ./.github/scripts/identify-codeowners.ts
